# HTID:22905747: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:22905747:

ErrorDocument 404 /views/404.view.php
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rediriger toutes les demandes HTTP vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

Order Deny,Allow
Deny from all
Allow from 158.220.101.156